footer, header {
    height: 26vh;
}
.box {
    color: darkred;
    background: rgb(233, 233, 233);
    text-align: center;
    padding: 2em 1em;
    margin: 5px;
}
.mainContainer {
    height: 26vh;
}
.flex {
    display: flex;
}
.contentContainer {
    flex: 2;
}
sidebar {
    flex: 1;
    height: 52vh;
}
.flex > main, section {
    flex: 1;
}
 /* menubar  */
 /* Add a black background color to the top navigation */
.topnav {
    background-color: #ffffff;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #000000;
  color: #ffffff;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

 /* Logo container */
 .topnav img{
    height: 26vh;
}


/* Side banner container  */
 #side-banner{
    background-color: whitesmoke;
    background-image: url(https://source.unsplash.com/3k9PGKWt7ik/1600x900);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}