*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.container{
    width: 1140px;
    margin: 0 auto;
    position: sticky;
    top: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;
    top: 0;
}

a.page{
    color: #717f91;
    font-size: 20px;
    text-decoration: none;
    font-weight: 400;
    padding: 10px;
}

a.page:hover{
    background-color: #F65341;
    color: #ffffff;
}

.nav-pages{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    max-width: 100%;
}

.flex {
    display: flex;
}
.box {
    /* color: darkred;
    background: rgb(233, 233, 233); */
    text-align: left;
    margin: 30px 0px;
}

#content{
    flex: 1;
    height: 100vh; /*to fill up the space*/
    min-height: 600px; /*limiting min height to keep text in box*/
    min-width: 300px; /*limiting min width to keep text in box*/
    /* padding:20px; */
    font-size: 2em;
    text-decoration: none;
    position: relative;
    left: 130px;
}

ul > li{
    list-style: none;
}

.heading{
    color: #252522;
}

.heading span{
    line-height: 0;
    position: relative;
    top: -25px;
    left: 20px;
    font-weight: 200;
    font-size: 0.9em;
}

.subheading{
    color: #788090;
    line-height: 36px;
    font-weight: 300;
}
#sidebar{
    flex: 1;
}

#sidebar img{
    min-height: 600px; /*same min height as #content*/
    min-width: 300px; /*same min width as #content*/
    height: 80vh; /*same height as #content*/
}


/* CSS FOR ABOUT PAGE */

#about{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

#boxes{
    display: block;
    overflow: auto;
    margin-top: 0px;
}

.group-box-1{
    position: relative;
    left: 150px;
    align-items: center;
    margin: 0px;
}

.group-box-2{
    position: relative;
    /* top: 50px; */
    left: 170px;
}

#boxes>img{
    max-width: 100%;
    opacity: 35%;
    transition: all .5s;
}

#boxes>img:hover {
    transform: rotate(-5deg) scale(1.1);
    opacity: 100%;
}

h2{
    color: #252522;
    opacity: 45%;
    font-size: 1.7em;
    z-index: -1;
    position: relative;
    top: 215px;
    left: 5px;
}

.name-right{
    color: #252522;
    opacity: 45%;
    font-size: 1.7em;
    z-index: 1;
    position: relative;
    top: 215px;
    left: 120px;
}

.about-text{
    position: relative;
    margin: 0px 100px;
    font-size: 24px;
    left: 140px;
    line-height: 36px;
    font-weight: 300;
    color: #788090;
}

.about-text h3{
    font-size: 96px;
    line-height: 96px;
    font-weight: 800;
    color: #252525;
}
 /* CSS Contact Pages  */

 #contact {
    background-color: whitesmoke;
    background-image: url(https://images.unsplash.com/photo-1566125882500-87e10f726cdc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex: 1 0 200px;
    align-items: stretch;
}
 
#contactHeader {
    border-top: black solid 1px;
    /* position: absolute;
    top: 10%;
     left: 10%; */  /*For adjust to bottom pages */
}

#contactMainform {
    border-radius: 5px;
    background-color: transparent;
    padding: 20px;
    /* position: absolute;
    top: 9%;
    right: 5%;
    left: 40%;
    bottom: 10%; */ /*For adjust to bottom pages */
}

#contact input[type=text], [type=email], {
    width: 80%;
    padding: 12px;
    border: 1px solid black;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    background-color:transparent;
    resize: vertical;
}

#contact .tooltip {
    position: relative;
}

#contact .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom:  125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

#contact .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

#contact .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

/* adding box as per design */
#contact #feedback   {
    width: 80%;
    padding: 12px;
    height: 100px;
    border: 1px solid black;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    background-color:transparent;
    resize: vertical;
}

input[type=submit] {
    color: white;
    background-color: rgb(42, 53, 53);
    height: 50px;
    width: 550px;
    padding-right: 50px;
    padding-left: 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: center;
}

input[type=submit]:hover {
    background-color: rgb(83, 102, 52);
}

#privacy {
    text-align: left;
} 
/* removing underline of links */
/* #link   {
    text-decoration: none;
}

#submit {
    position: relative;
    margin: 1%;
}

footer {
    position: fixed;
    bottom: 1px;
    left: 20px;
    font-size: small;
} */
