*{
    box-sizing: border-box;
}

body{
    font-family: 'Fira Sans'; /*font from figma mockup*/
    font-size: 2rem;
}

img {
    max-width: 100%;
}

.flex {
    display: flex;
}
.box {
    /* color: darkred;
    background: rgb(233, 233, 233); */
    text-align: left;
    margin: 5px;
}

header img{
    height: 8vh;
} 
header a{
    float: right;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
header a:hover {
    background-color: #000000;
    color: #ffffff;
}
#content{
    flex: 1;
    background: rgb(233, 233, 233);
    height: 80vh; /*to fill up the space*/
    min-height: 600px; /*limiting min height to keep text in box*/
    min-width: 300px; /*limiting min width to keep text in box*/
    padding:20px;
}
#sidebar{
    flex: 1;
}

#sidebar img{
    min-height: 600px; /*same min height as #content*/
    min-width: 300px; /*same min width as #content*/
    height: 80vh; /*same height as #content*/
}