<<<<<<< HEAD
=======
/* to keep image in the box START */
*{
    box-sizing: border-box;
}
#logo img{
    height: 100%;
    width: 100%;
}
#menu-bar{
    position: absolute; /*using absolute and right to keep it in the upper right corner*/
    right: 20px;
    padding: 0px;
}

#menu-bar a{
    /*to get plain black texts for about and contact links*/
    text-decoration: none;
    color: black;
    margin: 0px 20px;
}
#side-banner img{
    height: 100%;
    width: 100%;
}
/* to keep image in the box END */
.flex {
    display: flex;
}

.box{
    /* for check boxes  */
    background:lightgray;
    border: red 2px solid; 
    margin:15px;
    padding: 10px;
    text-align: left;
    border-radius: 20px;
    width: 250px;
    padding: 2em 1em;
    margin: 5px;
}

#side-banner{
    height: 52vh;
}
>>>>>>> 2beb7f80f5f60156e13078344ae99ba15a2df5f3
