/* to keep image in the box START */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

html, body{
    height: 100%;
}

#logo img{
    height: 100%;
    width: 100%;
}
#menu-bar{
    position: absolute; /*using absolute and right to keep it in the upper right corner*/
    right: 20px;
    padding: 0px;
}

#menu-bar a{
    /*to get plain black texts for about and contact links*/
    text-decoration: none;
    color: black;
    margin: 0px 20px;
    justify-content: space-around;

}
#side-banner img{
    height: 100%;
    width: 100%;
}
/* to keep image in the box END */
.flex {
    display: flex;
}

.box{
    /* for check boxes  */
    background:lightgray;
    border: red 2px solid; 
    margin:15px;
    padding: 10px;
    text-align: left;
    border-radius: 20px;
    width: 250px;
    padding: 2em 1em;
    margin: 5px;
}

#side-banner{
    height: 52vh;
}


/* CSS FOR ABOUT PAGE */

#about{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.group-box-1{
    position: relative;
    left: 60px;
}

.group-box-2{
    position: relative;
    top: 30px;
}

#boxes{
    border: 2px solid grey;
    margin: 25px 25px;
    width: 200px;
    height: 210px;
}

.about-text{
    position: relative;
    right: 60px;
    margin: 0px 50px 0px 50px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
    color: #788090;
}

.about-text h3{
    font-size: 96px;
    line-height: 96px;
    font-weight: 800;
    color: #000000;
}